<div layout="vertical" layout-fill>

  <navbar></navbar>

  <md-content>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings">
        <h3>{{awesomeThing.title}}</h3>
        <p>{{awesomeThing.description}}</p>
      </md-card>
    </div>

    <div class="techs" layout-align="center">
      <md-card>
        <md-input-container>
         <label>Firebase</label>
         <input ng-model="data.foo">
       </md-input-container>
      </md-card>
    </div>


  </md-content>

</div>
